<div class="contact-page">
<h1>Contact Us</h1>


<%= image_tag "location.jpg", class:"contact-img-top" %>

<ul class="list-group list-group-flush">
  <li class="list-group-item">100 Kent Street, Sydney, NSW 2000, AUSTRALIA</li>
  <li class="list-group-item">0405865987</li>
  <li class="list-group-item">Mon- Fri | 9am -5pm</li>
  <li class="list-group-item">info@parqueen.com</li>
  <li class="list-group-item">www.parqueen.com</li>
</ul>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img1" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>



