
<h1>Contact Us</h1>


<div class"contact-page">

<div class="card-contact mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
    <%= image_tag "location.jpg", class:"card-img-top1" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Mon- Fri | 9am -5pm</h5>
        <p class="card-text">100 Kent Street, Sydney, NSW 2000, AUSTRALIA</p>
        <p class="card-text">0405865987</p>
        <p class="card-text">info@parqueen.com</p>
        <p class="card-text">www.parqueen.com</p>
     
      </div>
   
</div>
</div>
</div>





