<div class="about-page">
<h1>Get to know your ParQueen!</h1>
<p> <b>ParQueen</b>  is the best market place application to connect people to easily purchase car spots available in Australia.
</p>
<p>
This cloud-based market place enables individuals and businesses to upload their available car spaces anywhere at anytime to sell.

</p>
<p>
ParQueen is the only application to use when selling a car spot or looking for a new one. No longer do people have to wait for periods of time when looking for a carspot, whether it be a regular visit to the shopping centre, a monday to friday commute to the city for your staff, consistent travelling to the airport or your favourite beach in summer. ParQueen can help you save time and money by providing you with an easy and convenient method for searching or selling your carspot.
    </p>
    <p>
As the population grows, there are more cars on the road and a bigger demand on where to park.<br> <b>Join the community</b> and <b>Park like a Queen today!</b> </p>
<i class="fas fa-chess-queen"></i><br>



</div>


